page {
	width: 100%;
	height: 100%;
	background-color: #F2F4F7;
}

.container {
	margin-top: 6rpx;
	background-color: #ffffff;
	padding: 0rpx 30rpx;
}

.judge-goods {
	width: 690rpx;
	height: 240rpx;
	display: flex;
	align-items: center;
	border-bottom: 1rpx solid RGBA(242, 242, 242, 1);
}

.judge-goods image {
	width: 188rpx;
	height: 148rpx; 
	border-radius: 12rpx;
	margin-right: 16rpx;
	vertical-align: middle;
}

.middle-detail {
	width: 674rpx;
	height: 148rpx;
	position: relative
}

.middle-detail .course-name {
	display: inline-block;
	width: 392rpx;
	height: 48rpx;
	font-size: 24rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
}

.course-price {
	background-image: -webkit-gradient(linear,
		0 0,
		0 bottom,
		from(#FF9650),
		to(#FF6600));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 28rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	position: absolute;
	top: 2rpx;
	right: 0rpx;
}

.course-class {
	font-size: 20rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	letter-spacing: 1rpx;
	position: absolute;
	bottom: 2rpx;
	left: 0rpx;
	color: rgba(153, 153, 153, 1);
}

/* 评价星星 */
.judge-star {
	width: 690rpx;
}

.judge-star .judge-box {
	width: 690rpx;
	height: 100rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.judge-star .judge-box .judge-title {
	font-size: 30rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	letter-spacing: 3rpx;
}

.uni-rate__icon {
	margin-left: 24rpx !important;
}

/* 文字评论 */
.judge-text {
	width: 690rpx;
	margin-top: 20rpx
}

.judge-text p {
	font-size: 35rpx;
	font-family: Adobe Heiti Std;
	font-weight: 800;
	color: rgba(51, 51, 51, 1);
	letter-spacing: 4rpx;
}

.judge-text textarea {
	width: 626rpx;
	height: 200rpx;
	margin-left: 18rpx;
	margin-top: 20rpx;
	margin-bottom: 20rpx;
	padding: 18rpx;
	box-sizing: border-box;
	border-radius: 24rpx;
	background-color: RGBA(245, 246, 247, 1);
}

/* 照片评论 */
.image-choose {
	width: 690rpx;
	padding: 20rpx 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.image-choose image {
	width: 154rpx;
	height: 154rpx;
	border-radius: 12rpx;
	background-color: #ffffff;
	margin-right: 18rpx;
	margin-bottom: 18rpx;
}

.image-choose .chooseImg {
	width: 220rpx;
	height: 220rpx;
	border-radius: 12rpx;
	background-color: #ffffff;
	margin-right: 18rpx;
	margin-bottom: 18rpx;
}
/* 提交按钮 */
.commit{
	width: 690rpx;
	height: 316rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}
.commit-btn{
	width: 572rpx;
	height: 67rpx;
	color: #ffffff;
	text-align: center;
	line-height: 60rpx;
	background: -webkit-linear-gradient(top, #FF964F 0%,#FF6701 100%);
	border-radius: 44rpx;
}
