page {
	width: 100%;
	height: 100%;
	background-color: #F2F4F7;
}

.course-element {
	width: 750rpx;
	height: 200rpx;
	background-color: rgba(255, 255, 255, 1);
	margin-top: 4rpx;
	margin-bottom: 22rpx;
	box-sizing: border-box;
	padding-left: 22rpx;
	display: flex;
	align-items: center;
}

.course-element image {
	width: 140rpx;
	height: 140rpx;
	border-radius: 10rpx;
	vertical-align: middle;
}

.course-element-box {
	width: 550rpx;
	height: 140rpx;
	margin-left: 30rpx;
	position: relative;

}

.course-element-name {
	display: inline-block;
	width: 370rpx;
	height: 48rpx;
	font-size: 32rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	margin-top: 6rpx;
}

.course-element-price {
	font-size: 34rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 4rpx;
	right: 32rpx;
}

.course-element-num {
	font-size: 26rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(153, 153, 153, 1);
	position: absolute;
	bottom: 4rpx;
	left: 2rpx;
}
/* 手机号码输入框 */
.phoneNumber {
	width: 360rpx;
	height: 70rpx;
	background-color: #ffffff;
	/* border-radius: 12rpx; */
	border: 0rpx solid #999999;
	box-sizing: border-box;
	padding-left: 4rpx;
	margin-left: 2rpx;
	margin-top: 2rpx;
	font-size: 32rpx;
	text-align: right;
	color: rgba(170, 170, 170, 1);
}
/* 错误提示框 */
.warning-text {
	width: 460rpx;
	height: 80rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 12rpx;
	background-color: rgba(59, 59, 59, 0.8);
}


.goods-price {
	padding-left: 26rpx;
	padding-right: 38rpx;
	box-sizing: border-box;
	width: 750rpx;
	height: 88rpx;
	background: rgba(255, 255, 255, 1);
	border-bottom: 1rpx solid RGBA(231, 231, 231, 0.8);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text {
	font-size: 32rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
}

.price {
	font-size: 32rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(255, 102, 0, 1);
}

.goods-trems {
	padding-left: 22rpx;
	padding-right: 38rpx;
	box-sizing: border-box;
	width: 750rpx;
	height: 88rpx;
	background: rgba(255, 255, 255, 1);
	border-bottom: 1rpx solid RGBA(231, 231, 231, 0.8);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 22rpx;
}

.paymanetTerms {
	font-size: 26rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(170, 170, 170, 1);
}

.goods-invoice {
	padding-left: 22rpx;
	padding-right: 38 rpx;
	box-sizing: border-box;
	width: 742rpx;
	height: 88rpx;
	background: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 底部支付 */
.page-bottom {
	width: 750rpx;
	height: 132rpx;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-bottom-left {
	width: 375rpx;
	height: 132rpx;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-bottom-left text:nth-child(1) {
	font-size: 26rpx;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(153, 153, 153, 1);
	line-height: 22px;
}

.page-bottom-left text:nth-child(2) {
	font-size: 38rpx;
	font-family: Noto Sans S Chinese;
	font-weight: bold;
	color: rgba(255, 102, 0, 1);
}
.page-bottom-right{
	width: 375rpx;
	height:132rpx;
	background: -webkit-linear-gradient(top, #FF9650 0%,#FF6600 100%);
	text-align: center;
	line-height: 132rpx;
	color: #ffffff;
	font-size:40rpx;
	font-family:Noto Sans S Chinese;
	font-weight:400;
	color:rgba(255,255,255,1);
}

